/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font), sans-serif;
  background-image:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-text);
}

.header {
  margin: 100px auto;
  border: var(--border-black);
  padding-block-start: clamp(7.625rem, 7.449rem + 0.751vi, 8.125rem);
  padding-block-end: clamp(7.625rem, 7.449rem + 0.751vi, 8.125rem);
  font-family: var(--accent-font), fantasy;
  background-color: var(--main-color);
  inline-size: var(--liquid-width);
}

.header__title {
  padding-block-end: 1rem;
  font-size: clamp(3.063rem, 2.71rem + 1.502vi, 4.063rem);
  text-align: center;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.677rem + 0.845vi, 1.438rem);
  text-align: center;
  text-transform: uppercase;
}

.main {
  padding-block-end: 100px;
}

.content-section__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3.125rem;
  list-style: none;
}

.card {
  border: var(--border-black);
  background-color: var(--main-color);
  inline-size: var(--liquid-width);
}

.card__title {
  border-block-end: var(--border-black);
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-title);
}

.card__container {
  position: relative;
  max-height: var(--liquid-width);
}

.card__image {
  display: block;
  border-block-end: var(--border-black);
  object-fit: cover;
  aspect-ratio: 1 / 1;
  inline-size: 100%;
}

.filter-brightness-contrast-grayscale {
  filter: brightness(150%) contrast(120%) grayscale(0.5);
}

.filter-saturate {
  filter: saturate(158%);
}

.filter-grayscale {
  filter: grayscale(100%);
}

.filter-brightness {
  filter: brightness(150%);
}

.filter-contrast {
  filter: contrast(160%);
}

.filter-brightness-contrast {
  filter: brightness(110%) contrast(130%);
}

.filter-saturate-light {
  filter: saturate(30%);
}

.filter-hue-rotate-contrast-saturate {
  filter: hue-rotate(15deg) contrast(110%) saturate(0.9);
}

.card__description {
  display: flex;
  flex-direction: column;
  row-gap: 1.56rem;
  padding: 1.56rem;
  font-size: 1.125rem;
  line-height: 1.167;
}

.card__accent {
  position: absolute;
  top: 1.4rem;
  right: 1.56rem;
  opacity: 50%;
  color: var(--accent-color);
  font-family: var(--accent-font), fantasy;
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--main-color),
    0 1px var(--main-color),
    1px 0 var(--main-color),
    0 -1px var(--main-color);
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px var(--main-color)) or
  (-webkit-text-stroke: 1px var(--main-color)) {
  .card__accent {
    text-shadow: none;
    text-stroke: 1px var(--main-color);
    -webkit-text-stroke: 1px var(--main-color);
  }
}

.card__group-button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  column-gap: 0.25rem;
}

.button {
  position: relative;
  background-color: var(--main-color);
  transition: box-shadow 0.5s ease;
}

.button:focus {
  box-shadow: 2px 2px 0px var(--accent-color);
  outline: none;
}

.button:hover::before {
  transform: scaleX(1);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.card__like-button {
  align-self: flex-end;
  border: var(--border-black);
  padding: 0;
  text-align: center;
  background-color: transparent;
  inline-size: 8.125rem;
  block-size: 2.375rem;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  overflow: visible;
  background-color: transparent;
  transition: border 0.3s ease;
  inline-size: auto;
  block-size: 2.375rem;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.like-icon {
  margin: auto;
  block-size: auto;
  inline-size: 2.4375rem;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  opacity: 1;
  fill: var(--accent-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  opacity: 1;
  fill: var(--accent-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  opacity: 1;
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  opacity: 1;
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  opacity: 1;
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  opacity: 1;
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: opacity 0.3s 0.3s ease-in;
}

.button__text {
  position: relative;
  z-index: 100;
  color: var(--main-color);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 0.9;
  mix-blend-mode: difference;
}

.floppy {
  position: relative;
  z-index: 100;
  color: var(--main-color);
  mix-blend-mode: difference;
}

.save__button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  margin-inline: auto;
  margin-block-start: 3.125rem;
  border: var(--border-black);
  padding: 1rem;
  background-color: var(--main-color);
}

dialog {
  display: none;
}

dialog[open] {
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 1.5rem;
  row-gap: 1.7rem;
  padding: 1.5rem;
  font-family: var(--accent-font), fantasy;
  font-size: 0.6rem;
  line-height: 1.6;
  inline-size: clamp(21.313rem, 21.048rem + 1.127vi, 22.063rem);
}

.dialog__image {
  grid-column: span 1;
  align-self: center;
}

.dialog__title {
  grid-column: 2;
  text-transform: uppercase;
  min-inline-size: 230px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.7);
}

.dialog__button {
  grid-column: span 2;
  border: var(--border-black);
  padding: 0.75rem;
  font-size: 0.85rem;
  text-transform: uppercase;
}

@media (width <= 375px) {
  .save__button {
    flex-direction: column;
    row-gap: 8px;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }

  dialog[open] {
    font-size: 0.56rem;
    column-gap: 1.3rem;
    row-gap: 1.83rem;
    padding-inline: 2.3rem;
    padding-block: 1.8rem;
  }

  .dialog__button {
    padding: 0.6rem;
  }

  .dialog__title {
    min-inline-size: 202px;
  }
}
