
:root {
  --accent-font: 'Press Start 2P'; 
  --main-font: Inter;
  --font-weight-text: 410;
  --font-weight-title: 715;
  --liquid-width: clamp(23.438rem, 16.285rem + 30.516vi, 43.75rem);
  --border-black: 2px solid #000;
  --accent-color: #000;
  --main-color: #fff;
  --animation-fill-color: #ff0000;
}